.Techs {

    div {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 12px;
    }

    

    span {
        
        background: var(--bg-techs);
        padding: .6rem;
        
        border-radius: 15px;
        color: var(--black);
        font-weight: var(--font-bold);
        font-size: 10px;
        text-align: center;
        text-transform: uppercase;
    }
}